## .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.sln.docstates

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## IDE
.vs/
.vscode/
.idea/
*.swp
*~

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## Misc
nul
